button {
   width: 325px;
   height: 100px;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-size: 1.5rem;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
   border: none;
   user-select: none;
   margin: 0 10px 10px 0;

   &:focus {
      outline: none;
   }
}
