@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

.fight {
   width: 100%;
   padding: 10px 20px 0 20px;

   h1 {
      margin-bottom: 30px;
      font-family: "New Tegomin", serif;
   }

   h3 {
      margin: 0 0 15px 10px;
   }

   .next-fights {
      display: flex;
      margin-bottom: 45px;

      .image-container {
         border: 2px solid var(--secondary-color);
         margin-right: 2px;
         border-radius: 10px;
         padding: 5px;

         img {
            width: 60px;
            margin: 0 10px 0 10px;
         }
      }
   }

   .dual {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;

      .versus-image {
         height: 104px;
         align-self: center;
      }
   }

   .action-buttons {
      display: flex;

      .actions {
         width: 65%;
         display: flex;
         flex-wrap: wrap;
      }

      .confirm {
         button {
            width: 100px;
            height: 60px;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            border: none;

            &:focus {
               outline: none;
            }
         }
      }
   }
}
