.player-card-dual {
   width: 440px;

   .details {
      margin-bottom: 5px;

      .player-name-dual {
         margin-bottom: 5px;
      }

      .progress-bar-out {
         width: 100%;
         height: 12px;
         background-color: var(--secondary-color);
         border-radius: 20px;

         .progress-bar-in {
            width: 60%;
            height: 12px;
            background-color: var(--primary-color);
            border-radius: 20px;
            text-align: center;
         }
      }
   }

   .image-container {
      margin: auto;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.25);
      padding: 10px;
      display: flex;
      justify-content: center;

      img {
         width: 240px;
         object-fit: contain;
      }
   }
}
