.player-card {
   width: 220px;
   height: 200px;
   border-radius: 10px;
   box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.25);
   padding: 10px;
   cursor: pointer;
   margin-bottom: 10px;
   transition: 0.4s;

   &:hover {
      transform: scale(0.9, 0.9);
   }

   .image-container {
      width: 120px;
      height: 160px;
      margin: auto;

      img {
         width: 120px;
         object-fit: contain;
      }
   }

   .player-name {
      margin-bottom: 5px;
   }

   .progress-bar-out {
      width: 100%;
      height: 12px;
      background-color: var(--secondary-color);
      border-radius: 20px;

      .progress-bar-in {
         width: 60%;
         height: 12px;
         background-color: var(--primary-color);
         border-radius: 20px;
         text-align: center;
      }
   }
}
