@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300";

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

:root {
  --primary-color: #3e7b7a;
  --secondary-color: #e7e4e4;
}

* {
  font-family: "Source Sans Pro";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
